:root {
    --background-primary: #f4f5fb;
    --background-secondary: #fff;

    --color-brand: #ca3884;
    --color-brand-hover: #a52c6b;
    --color-danger: #c93847;

    --content-primary: #080b12;
    --content-secondary: #374151;
    --content-tertiary: #9ca3af;
    --content-white: #fff;

    --border-primary: #d1d5db;
    --border-hover: #b9c2d0;

    --font-logo: 700 1.625rem/2.5rem "Sora", sans-serif;
    --font-title: 700 1.5rem/2rem "Inter", sans-serif;
    --font-label: 600 1rem/1.25rem "Inter", sans-serif;
    --font-paragraph: 500 1rem/1.25rem "Inter", sans-serif;
    --font-link: 500 0.875rem/1rem "Inter", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--background-primary);
    max-width: 100%;
    min-height: 100dvh;
}

.container {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-block: 4.875rem 10.625rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 3.875rem;
}

.logo span {
    font: var(--font-logo);
    color: var(--content-secondary);
}

.back-link {
    font: var(--font-link);
    text-decoration: none;
    color: var(--color-brand);
    margin-bottom: 1rem;
}

.title {
    font: var(--font-title);
    color: var(--content-primary);
    margin-bottom: 2.75rem;
}

.add-item-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-item-container input {
    padding-inline: 1.125rem;
    height: 2.75rem;
    border: 2px solid var(--border-primary);
    border-radius: 0.75rem;
    font: var(--font-paragraph);
    color: var(--content-secondary);
    background-color: var(--background-secondary);

    &:hover {
        border-color: var(--border-hover);
    }

    &::placeholder {
        color: var(--content-tertiary);
    }

    &:focus,
    &:focus-within {
        border-color: var(--color-brand);
    }
}

.add-item-container button {
    background-color: var(--color-brand);
    border-radius: 0.75rem;
    color: var(--content-white);
    height: 2.75rem;
    padding-inline: 1.5rem;
    padding-block: 0.625rem;
    font: var(--font-label);

    &:hover {
        background-color: var(--color-brand-hover);
    }
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-block: 2.5rem 2.25rem;
    max-height: 16.25rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.task-item {
    display: flex;
    padding: 0.75rem;
    background-color: var(--background-secondary);
    border-radius: 0.75rem;
    height: 3.5rem;
    align-items: center;
    font: var(--font-paragraph);
    color: var(--content-secondary);
}

.task-item input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--border-primary);
    background-color: var(--background-secondary);
    border-radius: 0.375rem;
    position: relative;
    cursor: pointer;

    &:hover {
        border-color: var(--border-hover);
    }

    &:checked {
        background-color: var(--color-brand);
        border: none;
    }

    &:checked::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0.375rem;
        height: 0.5rem;
        border: solid var(--content-white);
        border-width: 0 2px 2px 0;
        transform: translate(-50%, -60%) rotate(45deg);
    }
}

.task-item label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    cursor: pointer;
}

.task-item svg {
    margin-left: auto;
    cursor: pointer;
}

.task-item svg path {
    stroke: var(--content-tertiary);
}

.delete-feedback {
    display: flex;
    padding: 0.75rem;
    gap: 0.5rem;
    height: 2.75rem;
    background-color: var(--color-danger);
    color: var(--content-white);
    border-radius: 0.75rem;
    font: var(--font-label);
}

.alarm-icon path {
    fill: var(--content-white);
}

.close-feedback {
    margin-left: auto;
    cursor: pointer;
}

.close-feedback path {
    fill: var(--content-white);
}

@media (width >=768px) {
    .add-item-container {
        flex-direction: row;
    }

    .add-item-container input {
        flex: 1;
    }
}

@media (width >=1024px) {
    .container {
        max-width: 39.125rem;
        margin: 0 auto;
    }
}
