:root {
    --background-primary: #f4f5fb;
    --background-secondary: #fff;

    --color-brand: #ca3884;
    --color-brand-hover: #a52c6b;
    --color-danger: #c93847;

    --content-primary: #080b12;
    --content-secondary: #374151;
    --content-tertiary: #9ca3af;
    --content-white: #fff;

    --border-primary: #d1d5db;
    --border-hover: #b9c2d0;

    --font-logo: 700 1.625rem/2.5rem "Sora", sans-serif;
    --font-title: 700 1.5rem/2rem "Inter", sans-serif;
    --font-label: 600 1rem/1.25rem "Inter", sans-serif;
    --font-paragraph: 500 1rem/1.25rem "Inter", sans-serif;
    --font-link: 500 0.875rem/1rem "Inter", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: black;
    max-width: 100%;
    min-height: 100dvh;
}
